
<%= navigationBar(NavigationHelper::NBA_PLAYOFFS_BUTTON) %>

<div class='row-fluid'>
  <div class='span2 center nexttoh1'>
    <img class='img_50_49' src='assets/nba.jpg' />
  </div>
  <div class='span8 center'>
    <h3>NBA Playoffs <%= @currentYear %></h3>
  </div>
  <div class='span2 center nexttoh1'>
    <img class='img_50_49' src='assets/nba.jpg' />
  </div>
</div>
