
<%= navigationBar(NavigationHelper::MY_GAMES_BUTTON) %>

<div class='row-fluid'>
  <div class='span12 center'>
    <h3>My Games</h3>
  </div>
</div>

<div class='row-fluid'>
  <div class='span4 center'>
    <h4>MLB</h4>
    <img class='img_100_50' src='assets/mlb.gif' />
    <br/><br/>
    <a class='btn btn-primary' href='/mlbOverUnders'>MLB Over/Unders 2013</a>
    <br/><br/>
  </div>
  <div class='span4 center'>
    <h4>NBA</h4>
  </div>
  <div class='span4 center'>
    <h4>NFL</h4>
  </div>
</div>