
<%= navigationBar(NavigationHelper::ADMIN_MLB_WINS_BUTTON) %>

<div class='row-fluid'><div class='span12 center'>
<h3>Create new MLB Over/Under Line</h3>

<%= render 'form' %>

<%= link_to 'Back', mlb_wins_path %>
</div></div>
