<!DOCTYPE html>
<html>
<head>
  <title>Rotiss Games</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
	
  <div id='wrap'>
  	<div class='container'>

<%= yield %>
     
    </div>
    <div id="push"></div>
  </div>
  
  <!-- footer -->
  <div id="footer">
    <div class="container">
      <div class="row">
        <div class="span6 center muted credit" title='Released: ???-??-2013'>
          Rotiss Games v0.1
        </div>
        <div class="span6 center muted credit">
          a <a href='http://www.zebrahim.com' target='_blank'>zebrahim</a> original
        </div>
      </div>
    </div>
  </div>

</body>
</html>
